body {
  padding: 0;
  margin: 0;
}

.page-background-half-image {
  background: url('undraw_co-workers_ujs6.svg') no-repeat bottom left;
  display: block;
  background-size: 100%;
  z-index: -1;
  position: absolute;
  bottom:0px;
  width: 50vw;
}

.page-background-half {
  background-color: rgb(44,151,175, 0.6);
  display: block;
  float: left;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 50vw;
  height: 100vh;
  font-size: 1.7vw;
  z-index: -1;
  position: absolute;
}

.page-text {
  margin-top: -12vh;
  padding-left: 5vw;
  position: absolute;
  z-index: 1;
}

.arrow {
  position: relative;
  height: 8vh;
  width: 4vw;
  margin-top: 3vh;
  margin-left: 2vw;
  z-index: 2;
}

/* now using CustomInput for sign in text fields- find the CustomInput function in utils */
.form-inputs {
  background-color: white;
  border-radius: 1.2vw;
  width: 40vw;
}

.form-drop-down {
 background-color: white;
  border-radius: 1.2vw;
  width: 40.1vw;
}

.button-container {
  margin-top: 10vh;
}

.button {
 margin-left: 31vw;
 padding: 0;
 border-radius: 10vw;
 background-color: white;
 color: #2C97AF;
 height: 6vh;
 width: 10vw;
 font-size: 2vw;
 font-family: 'Roboto', sans-serif;
font-weight: bold;
z-index: 3;
}

.main-page-button {
  padding: 0;
  position: relative;
  border-radius: 10vw;
  background-color: white;
  color: #2C97AF;
  height: 6vh;
  width: 11vw;
  font-size: 2vw;
  margin-right: 4.5vw;
  margin-top: 30vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.button-container-main {
  margin-top: 30vh;
  margin-left: 2.5vw;
}


