body {
  padding: 0;
  margin: 0;
}

.page-background-full {
  background-color: rgb(44,151,175, 0.6);
  display: block;
  float: left;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.7vw;
  z-index: -1;
  position: absolute;
}

.page-background-half {
  background-color: rgb(44,151,175, 0.6);
  display: block;
  float: left;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 50vw;
  height: 100vh;
  font-size: 1.7vw;
  z-index: -1;
  position: absolute;
}

.promo-image {
    z-index: 4;
    margin-left: 50vw;
    margin-top: -100vh;
    float: right;
    position: absolute;
    height: 100vh;
    width: 50vw;
}

.arrow {
  position: relative;
  height: 8vh;
  width: 4vw;
  margin-top: 3vh;
  margin-left: 2vw;
  z-index: 2;
}

/* VISITOR SIGN IN / OUT */

.sign-in-success-image {
  background: url('undraw_community_8nwl.svg') no-repeat bottom;
  display: block;
  background-size: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
}

.sign-in-success-page-text-h1 {
  font-size: 4.5vw;
  margin-top: -25vh;
  padding-left: 5.4vw;
  position: absolute;
  z-index: 2;
}

.sign-out-success-page-text-h1 {
  font-size: 4.5vw;
  margin-top: -25vh;
  padding-left: 5.4vw;
  position: absolute;
  z-index: 2;
}

.sign-out-success-page-text-h2 {
  font-size: 4vh;
  margin-top: -12vh;
  padding-left: 17vw;
  position: absolute;
  z-index: 2;
}

.sign-out-success-image {
  background: url('undraw_friends_online_klj6.svg') no-repeat bottom;
  display: block;
  background-size: 60%;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
}

.sign-in-success-page-text-h2 {
  font-size: 4vh;
  margin-top: -12vh;
  padding-left: 19vw;
  position: absolute;
  z-index: 2;
}

.sign-in-form-image {
  background: url('undraw_co-workers_ujs6.svg') no-repeat bottom left;
  display: block;
  background-size: 100%;
  z-index: -1;
  position: absolute;
  bottom:0px;
  width: 50vw;
}

.sign-out-form-image {
  background: url('undraw_web_developer_p3e5.svg') no-repeat bottom left;
  display: block;
  background-size: 100%;
  z-index: -1;
  position: absolute;
  bottom:0px;
  width: 50vw;
}

.sign-out-page-text {
  padding-left: 5vw;
  z-index: 1;
}

.sign-out-text{
  margin-top: -12vh;
  padding-left: 5vw;
  position: absolute;
  font-size: 2.5vh;
  z-index: 3;
  bottom: 1.2vh;
  left: 25vw;
  text-decoration: none;
  color: white;
}

.sign-in-page-text {
  margin-top: -12vh;
  padding-left: 5vw;
  position: absolute;
  z-index: 1;
}

/* ADMIN SIGN IN / OUT */

.admin-signin-image {
  background: url('undraw_multitasking_hqg3.svg') no-repeat bottom;
  display: block;
  margin-top: -26vh;
  background-size: 60%;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
}
.admin-header {
  text-align: center;
  width: 100%;
}

.admin-signin-page-text-h1 {
  font-size: 4.5vw;
  margin-top: -26vh;
  padding-left: 5.4vw;
  text-align: center;
  z-index: 2;
}

.admin-form {
  margin: 0 auto; 
  padding-bottom: '18vh';
  text-align: center
}
